<header class="page-topbar">

  <div class="page-topbar-left">

    <button
      id="sidebar-open"
      class="menu-button"
      type="button"
      aria-label="Открыть меню"
    >
      ☰
    </button>

    <div>
      <p class="page-label">
        Конфигурация ресторана
      </p>

      <h1>
        Настройки
      </h1>
    </div>

  </div>

</header>


<div
  class="settings-page"
  id="settings-page"
>

  <div
    class="settings-tabs"
    role="tablist"
  >

    <button
      class="settings-tab is-active"
      type="button"
      data-settings-tab="delivery"
    >
      График поставок
    </button>


    <button
      class="settings-tab"
      type="button"
      data-settings-tab="products"
    >
      Товары заказа
    </button>

  </div>


  <div
    class="settings-tab-container"
    id="settings-tab-container"
  >

    <div class="settings-loading">
      Загрузка настроек...
    </div>

  </div>

</div>